@import "tailwindcss";
@config "../tailwind.config.ts";

@font-face {
  font-family: "Gotham";
  src: url('/public/Fonts/Gotham/Gotham-Bold-webfont.woff2')
}

@font-face {
  font-family: "AlanSans";
  src: url('/public/Fonts/AlanSans/AlanSans-Regular.ttf')
}
